In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

## データの確認

In [2]:
#データ読み込み
df = pd.read_csv("ks-projects-201801.csv")
#データの中身確認
display(df.head(10))
display(df.describe())
print(df.dtypes)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26 13:38:27,52375.00,successful,224,US,52375.00,52375.00,50000.00
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.0,2014-12-01 18:30:44,1205.00,successful,16,US,1205.00,1205.00,1000.00
7,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.0,2016-02-01 20:05:12,453.00,failed,40,US,453.00,453.00,25000.00
8,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29,125000.0,2014-04-24 18:14:43,8233.00,canceled,58,US,8233.00,8233.00,125000.00
9,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10,65000.0,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,6240.57,65000.00

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,3.786610e+05,3.786610e+05,3.786610e+05,378661.000000,3.748640e+05,3.786610e+05,3.786610e+05
mean,1.074731e+09,4.908079e+04,9.682979e+03,105.617476,7.036729e+03,9.058924e+03,4.545440e+04
std,6.190862e+08,1.183391e+06,9.563601e+04,907.185035,7.863975e+04,9.097334e+04,1.152950e+06
min,5.971000e+03,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e-02
25%,5.382635e+08,2.000000e+03,3.000000e+01,2.000000,1.698000e+01,3.100000e+01,2.000000e+03
50%,1.075276e+09,5.200000e+03,6.200000e+02,12.000000,3.947200e+02,6.243300e+02,5.500000e+03
75%,1.610149e+09,1.600000e+04,4.076000e+03,56.000000,3.034090e+03,4.050000e+03,1.550000e+04
max,2.147476e+09,1.000000e+08,2.033899e+07,219382.000000,2.033899e+07,2.033899e+07,1.663614e+08

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                float64
launched             object
pledged             float64
state                object
backers               int64
country              object
usd pledged         float64
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

## 変数の整理

ID ⇨要らない 

pledged / usd pledged / usd_pledged_real / backers ⇨クラウドファンディング後のものなので予測に使うのは違う
goal ⇨usd_goal_realで良さそうなので多分要らない

In [3]:
df = df.drop(["ID", "backers", "goal", "pledged", "usd pledged", "usd_pledged_real"], axis=1)
display(df.head())

,name,category,main_category,currency,deadline,launched,state,country,usd_goal_real
0,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,GB,1533.95
1,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,US,30000.00
2,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,US,45000.00
3,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,US,5000.00
4,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,2015-07-04 08:35:03,canceled,US,19500.00

In [4]:
 #目的変数について
df['state'].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended'], dtype=object)

In [5]:
#成功or失敗なので、failedとsucessfulだけ取る
df = df[df.state.str.contains("successful")|df.state.str.contains("failed")]
df['state'].unique()

array(['failed', 'successful'], dtype=object)

In [6]:
# succesfulを1, failedを0に変化
df.replace({"successful":1, "failed":0}, inplace=True)
display(df)

,name,category,main_category,currency,deadline,launched,state,country,usd_goal_real
0,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,0,GB,1533.95
1,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,0,US,30000.00
2,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,0,US,45000.00
3,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,0,US,5000.00
5,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,2016-02-26 13:38:27,1,US,50000.00
...,...,...,...,...,...,...,...,...,...
378654,"Homemade fresh dog food, Cleveland OH",Small Batch,Food,USD,2017-04-19,2017-03-20 22:08:22,0,US,6500.00
378657,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,2011-06-22 03:35:14,0,US,1500.00
378658,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,2010-07-01 19:40:30,0,US,15000.00
378659,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,2016-01-13 18:13:53,0,US,15000.00
378660,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2011-07-19 09:07:47,0,US,2000.00

 ## 日付変数の変換
 deatlineとlaunchedの差分より経過時間(日単位)を算出し、説明変数とした.

In [7]:
# deadline列及びlaunched列のTimestanp型への変換
df["deadline"] = pd.to_datetime(df["deadline"])
df["launched"] = pd.to_datetime(df["launched"])

# 開始日から締切日までの期間を日単位で差分を計算
df["days"] = pd.Series((df["deadline"] - df["launched"]).dt.days)

# deadline列及びlaunched列を削除
df = df.drop(["deadline", "launched"], axis=1)
display(df.head())

,name,category,main_category,currency,state,country,usd_goal_real,days
0,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,0,GB,1533.95,58
1,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,0,US,30000.00,59
2,Where is Hank?,Narrative Film,Film & Video,USD,0,US,45000.00,44
3,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,0,US,5000.00,29
5,Monarch Espresso Bar,Restaurants,Food,USD,1,US,50000.00,34

## 残りのカテゴリ変数をダミー変数にする
nameでget_dummiesを使用したらなぜかプログラムが動かなくなってしまったため、nameは文字数に変換して扱う。

In [8]:
#name以外
dummy = ['category','main_category','currency','country']
df = pd.get_dummies(df, columns=dummy)

display(df.head())

,name,state,usd_goal_real,days,category_3D Printing,category_Academic,category_Accessories,category_Action,category_Animals,category_Animation,...,country_JP,country_LU,country_MX,"country_N,0""",country_NL,country_NO,country_NZ,country_SE,country_SG,country_US
0,The Songs of Adelaide & Abullah,0,1533.95,58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Greeting From Earth: ZGAC Arts Capsule For ET,0,30000.00,59,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,Where is Hank?,0,45000.00,44,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,ToshiCapital Rekordz Needs Help to Complete Album,0,5000.00,29,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,Monarch Espresso Bar,1,50000.00,34,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
#nameについて
# name列の欠損値が含まれる行の確認
df[df["name"].isnull()]

,name,state,usd_goal_real,days,category_3D Printing,category_Academic,category_Accessories,category_Action,category_Animals,category_Animation,...,country_JP,country_LU,country_MX,"country_N,0""",country_NL,country_NO,country_NZ,country_SE,country_SG,country_US
166851,NaN,0,200000.00,58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
307234,NaN,0,3224.97,17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
338931,NaN,0,35000.00,28,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
#name列に欠損値が含まれている場合、それを削除
df = df.dropna(subset=['name'],axis=0)

In [11]:
#name列を文字数に変換した行を追加する
df['name_length'] = df['name'].apply(lambda x:len(x))
display(df.head())

,name,state,usd_goal_real,days,category_3D Printing,category_Academic,category_Accessories,category_Action,category_Animals,category_Animation,...,country_LU,country_MX,"country_N,0""",country_NL,country_NO,country_NZ,country_SE,country_SG,country_US,name_length
0,The Songs of Adelaide & Abullah,0,1533.95,58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,31
1,Greeting From Earth: ZGAC Arts Capsule For ET,0,30000.00,59,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,45
2,Where is Hank?,0,45000.00,44,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,14
3,ToshiCapital Rekordz Needs Help to Complete Album,0,5000.00,29,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,49
5,Monarch Espresso Bar,1,50000.00,34,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,20

In [12]:
#name列の削除
df = df.drop('name',axis=1)
display(df.head())

,state,usd_goal_real,days,category_3D Printing,category_Academic,category_Accessories,category_Action,category_Animals,category_Animation,category_Anthologies,...,country_LU,country_MX,"country_N,0""",country_NL,country_NO,country_NZ,country_SE,country_SG,country_US,name_length
0,0,1533.95,58,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,31
1,0,30000.00,59,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,45
2,0,45000.00,44,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,14
3,0,5000.00,29,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,49
5,1,50000.00,34,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,20

## 訓練データとテストデータに分ける

In [13]:
#目的変数と説明変数にわける
label = df["state"]
data = df.drop("state",axis=1)

In [14]:
from sklearn.model_selection import train_test_split
data_train, data_test, label_train, label_test = train_test_split(data, label, test_size=0.3)

In [15]:
#訓練用データを標準化する
data_train["usd_goal_real"] = (data_train["usd_goal_real"] - data_train["usd_goal_real"].mean()) / data_train["usd_goal_real"].std(ddof=0)
data_train["days"] = (data_train["days"] - data_train["days"].mean()) / data_train["days"].std(ddof=0)
data_train["name_length"] = (data_train["name_length"] - data_train["name_length"].mean()) / data_train["name_length"].std(ddof=0)

<ipython-input-15-5ea8d2b6fd48>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train["usd_goal_real"] = (data_train["usd_goal_real"] - data_train["usd_goal_real"].mean()) / data_train["usd_goal_real"].std(ddof=0)
<ipython-input-15-5ea8d2b6fd48>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train["days"] = (data_train["days"] - data_train["days"].mean()) / data_train["days"].std(ddof=0)
<ipython-input-15-5ea8d2b6fd48>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train["name_length"] = (data_train["name_length"] - data_train["name_length"].mean()) / data_train["name_length"].std(ddof=0)

In [16]:
data_train

,usd_goal_real,days,category_3D Printing,category_Academic,category_Accessories,category_Action,category_Animals,category_Animation,category_Anthologies,category_Apparel,...,country_LU,country_MX,"country_N,0""",country_NL,country_NO,country_NZ,country_SE,country_SG,country_US,name_length
373747,-0.034438,-1.098860,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-0.076624
357010,-0.037815,-1.650324,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-0.264730
10874,-0.028887,-0.311053,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-0.452836
227751,-0.033513,0.634314,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.240119
93600,-0.022874,2.052366,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.114715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140643,-0.034560,-0.074711,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-0.452836
303363,-0.019636,-0.311053,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-1.393367
374938,-0.036989,-0.311053,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,-0.640943
312454,-0.034278,-0.311053,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.863907
307187,-0.035363,-0.311053,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0.174184

In [17]:
y_train = label_train.values
X_train = data_train.values

## 特徴量選択
ステップワイズ法を用いた

In [18]:
from sklearn.linear_model import SGDClassifier
from sklearn.feature_selection import RFECV

estimator = SGDClassifier(loss='log',random_state=1234)

# RFECVは交差検証によってステップワイズ法による特徴選択を行う
# cvにはFold（=グループ）の数，scoringには評価指標を指定する
rfecv = RFECV(estimator,cv=2,scoring='accuracy')

#fitで選択を実行
rfecv.fit(X_train,y_train)

RFECV(cv=2, estimator=SGDClassifier(loss='log', random_state=1234),
      scoring='accuracy')

In [19]:
# 削除すべき特徴の名前を取得 
removed_idx  = ~rfecv.get_support()
# 削除してもよい特徴の名前を取得する
remove_feature = data_train.columns[removed_idx]
remove_feature

Index(['category_Blues', 'category_Faith', 'category_Kids',
       'category_Sculpture', 'category_Spaces', 'category_Taxidermy',
       'currency_CAD', 'currency_JPY', 'currency_NZD', 'currency_SEK',
       'country_CA', 'country_GB', 'country_JP', 'country_NZ', 'country_SE'],
      dtype='object')

In [20]:
# drop関数で特徴を削除
selected_X = data_train.drop(remove_feature, axis=1)
selected_X

,usd_goal_real,days,category_3D Printing,category_Academic,category_Accessories,category_Action,category_Animals,category_Animation,category_Anthologies,category_Apparel,...,country_IE,country_IT,country_LU,country_MX,"country_N,0""",country_NL,country_NO,country_SG,country_US,name_length
373747,-0.034438,-1.098860,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-0.076624
357010,-0.037815,-1.650324,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-0.264730
10874,-0.028887,-0.311053,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-0.452836
227751,-0.033513,0.634314,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.240119
93600,-0.022874,2.052366,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.114715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140643,-0.034560,-0.074711,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-0.452836
303363,-0.019636,-0.311053,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-1.393367
374938,-0.036989,-0.311053,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,-0.640943
312454,-0.034278,-0.311053,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.863907
307187,-0.035363,-0.311053,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0.174184

In [21]:
selected_X_train = selected_X.values

## テスト用データの作成

In [22]:
#テスト用データを標準化する
data_test["usd_goal_real"] = (data_test["usd_goal_real"] - data_test["usd_goal_real"].mean()) / data_test["usd_goal_real"].std(ddof=0)
data_test["days"] = (data_test["days"] - data_test["days"].mean()) / data_test["days"].std(ddof=0)
data_test["name_length"] = (data_test["name_length"] - data_test["name_length"].mean()) / data_test["name_length"].std(ddof=0)

<ipython-input-22-c8ef633a1d27>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test["usd_goal_real"] = (data_test["usd_goal_real"] - data_test["usd_goal_real"].mean()) / data_test["usd_goal_real"].std(ddof=0)
<ipython-input-22-c8ef633a1d27>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test["days"] = (data_test["days"] - data_test["days"].mean()) / data_test["days"].std(ddof=0)
<ipython-input-22-c8ef633a1d27>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test["name_length"] = (data_test["name_length"] - data_test["name_length"].mean()) / data_test["name_length"].std(ddof=0)

In [23]:
#特徴量選択をしたテスト用データ
remove_feature_test = data_test.columns[removed_idx]
selected_X2 = data_test.drop(remove_feature_test, axis=1)
selected_X2

,usd_goal_real,days,category_3D Printing,category_Academic,category_Accessories,category_Action,category_Animals,category_Animation,category_Anthologies,category_Apparel,...,country_IE,country_IT,country_LU,country_MX,"country_N,0""",country_NL,country_NO,country_SG,country_US,name_length
60764,-0.014657,0.002339,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.049512
277400,-0.027460,-1.251649,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-0.576317
92265,-0.035055,0.315836,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.424703
187456,-0.033434,-0.311158,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-1.514294
296251,-0.028313,-0.311158,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-1.201635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132464,-0.035824,2.040070,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-1.076571
324664,-0.035910,-0.311158,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.612298
145412,-0.031727,0.472585,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-1.014040
19338,-0.030874,-0.311158,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0.111534
199364,-0.035482,-0.311158,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0.361661

In [24]:
selected_X_test = selected_X2.values
y_test = label_test.values

## モデル作成

In [25]:
X_train = selected_X_train
X_test = selected_X_test

## AdaBoost

In [31]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_recall_fscore_support, confusion_matrix,classification_report

In [29]:
#訓練誤差
clf = AdaBoostClassifier(RandomForestClassifier(max_depth=8,
                                                min_samples_leaf=3,
                                                min_samples_split=2,
                                                random_state=1234,
                                                criterion="gini"),
                         n_estimators=50, random_state=1234)
clf.fit(X_train, y_train)
print("score=", clf.score(X_train, y_train))

score= 0.7050049532670026

In [32]:
#汎化誤差
# テストデータに対する予測を実行
y_pred_test = clf.predict(X_test)

# 正答率を計算
accuracy =  accuracy_score(y_test, y_pred_test)
print('正答率（Accuracy） = {:.3f}%'.format(100 * accuracy))

# Precision, Recall, F1-scoreを計算
precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred_test)

# Precision, Recall, F1-scoreを表示
print('適合率（Precision） = {:.3f}%'.format(100 * precision[0]))
print('再現率（Recall） = {:.3f}%'.format(100 * recall[0]))
print('F1値（F1-score） = {:.3f}%'.format(100 * f1_score[0]))

正答率（Accuracy） = 68.430%
適合率（Precision） = 69.487%
再現率（Recall） = 84.062%
F1値（F1-score） = 76.083%